@model News_Manage.Models.AccountManage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form" action="/user/login" method="post">

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(p => p.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "username or email" } })
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.EditorFor(p => p.PassWord, new { htmlAttributes = new { @class = "form-control", @placeholder = "password", @type = "password" } })
                        </div>

                        @if (ViewBag.Message != null)
                        {
                            <label class="label-danger" style=" border-radius: 5px; padding: 5px; font-weight: lighter; " >@ViewBag.Message</label>
                        }
                        <div style="margin-top: 10px; margin: auto" class="form-group">
                            <!-- Button -->
                            <div class="col-md-4 col-lg-offset-4">
                                <input type="submit" class="btn btn-success" style="width: 100%" value="Login" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>